.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .header {
    color: #0070f3;
    font-size: 24px;
    font-weight: bold;
  }
  
  .card {
    border: 2px solid #0070f3;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: left;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bolder;
    color: #0070f3;
  }
  
  
  
  .enrollbutton {
    background-color: #0070f3;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
  }
  .enrollbutton:hover{
    background-color: #0e5fbb;
  }
  
  .unenrollbutton {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
  }
  .unenrollbutton:hover{
    background-color: rgb(192, 19, 19);
  }
  